.git
.github
.gitignore
.env
.env.backup
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
docker-compose*.yml
Dockerfile
*.md
phpunit.xml
.editorconfig
.styleci.yml
.phpunit.result.cache
